<p id="notice"><%= notice %></p>

<h1>Listing Grades</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Exam Name</th>
      <th>Question No</th>
      <th>Marks Obtained</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td> <%= grade.job.exam.course.name %></td>
        <td> <%= grade.job.exam.name %></td>
        <td> <%= grade.job.questionpaperspec.tag %> </td>
        <td> <%= grade.mark %> / <%= grade.job.questionpaperspec.marks %></td>
        <td> <%= link_to 'Show', grade %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>