<div class="row">
	<div class="col-md-8">
		<canvas id="canvas" width="800" height="1050" style="background: url(<%= @job.file.to_s %>); no-repeat; border:1px solid #000000"></canvas>
	</div>

	<div class="col-md-offset-1 col-md-3">
	<div class="card card-block">
		<div class="card-title">
			<h5 style="text-align: center;font-weight: bold;text-transform: capitalize;"><%= @job.student.name %> </h5>	
			<h5 style="text-align: center;"> 
				<% if @job.previous(current_teacher.id).present? %>
					<a href="<%= job_grade_path(@job.previous(current_teacher.id))  %>">
					<span class="mega-octicon really-more-mega octicon-arrow-left" style="float: left;"></span></a>
				<% end %>
					<%= @job.student.roll %>
				<% if @job.next(current_teacher.id).present? %>
					<a href="<%=job_grade_path(@job.next(current_teacher.id)) %>">
					<span class="mega-octicon really-more-mega octicon-arrow-right" style="float: right;"></span></a>
				<% end %>
			</h5> 	
			<h4 style="text-align: center;"><%= @job.questionpaperspec.tag %> </h4>
		</div>

		
		<div class="card-block">
			<%= simple_form_for(@grade, url: job_grade_submit_path(@job)) do |f| %>
				<%= f.input :mark, max: @job.questionpaperspec.marks, min: 0 %>
				<h1 style="text-align: center;"><%= f.label @job.questionpaperspec.marks.to_s %> </h1>	
				<%= f.input :teacher_id, as: :hidden, :input_html => { value: @grade.teacher_id } %>
				<%= f.input :job_id, as: :hidden, :input_html => { value: @grade.job_id } %>
				<%= f.button :submit,  style: "text-align: center;" %>
			<% end %>
		</div>

		<div class="card-block">
			<%= simple_form_for(@grade, url: job_grade_submit_path(@job)) do |f| %>
				<%= f.input :mark, max: @job.questionpaperspec.marks, min: 0 %>
				<h1 style="text-align: center;"><%= f.label @job.questionpaperspec.marks.to_s %> </h1>	
				<%= f.input :teacher_id, as: :hidden, :input_html => { value: @grade.teacher_id } %>
				<%= f.input :job_id, as: :hidden, :input_html => { value: @grade.job_id } %>
				<%= f.button :submit,  style: "text-align: center;" %>
			<% end %>
		</div>
	</div>
</div>