<<<<<<< HEAD
<% if current_teacher %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Course</th>
				<th>Exam</th>
				<th>Student</th>
				<th>Question No</th>
				<th>Marks</th>
				<th colspan="4"></th>
			</tr>
		</thead>

		<tbody>
			<% @jobs.each do |job| %>
			<tr>
				<td><%= job.exam.course.name %></td>
				<td><%= job.exam.name %></td>
				<td><%= job.student.name %></td>
				<td><%= job.questionpaperspec.tag %></td>
				<td><%= job.questionpaperspec.marks %></td>
				<% if job.grade? %>
					<td><%= link_to 'Graded', job, class: 'btn btn-danger' %></td>
				<% else %>
					<td><%= link_to 'Grade', job_grade_path(job), class: 'btn btn-info' %></td>
				<% end %>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
=======
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Student
      </th>
      <th>Question</th>
      <th>
          Marks
      </th>
      <th>
        Pages
      </th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td>
          <%= job.student.name %>
        </td>
        <td>
          <%= job.question.tag %>
        </td>
        <td>
          <%= job.question.mark %>
        </td>
        <td>
          <%= job.question.pages %>
        </td>
        <td><%= link_to 'Show', course_exam_job_path(@course, @exam, job) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
>>>>>>> test_paper_processor
