<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Course
      </th>
      <th>
        Exam
      </th>
      <th>
        Student
      </th>
      <th>Question</th>
      <th>
          Marks
      </th>
      <th>
        Pages
      </th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td>
          <%= job.course.code %>
        </td>
        <td>
          <%= job.exam.name %>
        </td>
        <td>
          <%= job.student.name %>
        </td>
        <td>
          <%= job.question.tag %>
        </td>
        <td>
          <%= job.question.mark %>
        </td>
        <td>
          <%= job.question.pages %>
        </td>
        <td><%= link_to 'Show', job %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
