<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student_profile.name %>
</p>

<p>
  <strong>Roll:</strong>
  <%= @student_profile.roll %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @student_profile.avatar %>
</p>

<%= link_to 'Edit', edit_student_profile_path(@student_profile) %> |
<%= link_to 'Back', student_profiles_path %>
