<h1>Listing Courses</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Semester</th>
      <th>Year</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td><%= course.name %></td>
        <td><%= course.semester %></td>
        <td><%= course.year %></td>
        <div class="btn-group">
          <td><%= link_to 'Exams', course_exams_path(course), class: "btn btn-success-outline" %></td>
          <td>
            <%= link_to 'Roster',  student_roster_course_path(course), class: "btn btn-warning-outline" %>
          </td>
          <td><%= link_to 'Edit', edit_course_path(course), class: "btn btn-info-outline" %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Course', new_course_path %>

<%= link_to 'New Exam', '#new_course', 'data-toggle' => 'modal' %>

<div class="modal fade" id="new_course" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Course</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
