<%= simple_form_for([@course, @exam]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :date %>
    <%= f.input :total_questions %>
    <%= f.input :total_marks %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
