<h1>Listing Exams</h1>
<h2 style="text-align: right;"> Students Enrolled: <%= @course.students.count %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.name %></td>
        <td><%= exam.date %></td>
        <td>
          <% if !exam.exam_doc? %>
            <%= link_to 'Upload Doc', upload_doc_course_exam_path(@course, exam), class: 'btn btn-danger btn-danger-outline' %>
          <% else %>
            <%= link_to 'Doc Uploaded', '#', class: 'btn btn-success' %>
          <% end %>
        </td>
        <td><%= link_to 'Show', course_exam_path(@course, exam) %></td>
        <td><%= link_to 'Edit', edit_course_exam_path(@course, exam) %></td>
        <td><%= link_to 'Destroy', course_exam_path(@course, exam), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exam', new_course_exam_path(@course) %>
