<div class="row">
  <div class="col-md-6">
    <p>
      <strong>Name:</strong>
      <%= @exam.name %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @exam.date %>
    </p>

    <p>
      <strong>Page Size: </strong>
      <%= @exam.page_size %>
    </p>

    <p>
      <% if !@exam.exam_doc? %>
        <%= link_to 'Upload Doc', upload_doc_course_exam_path(@course, @exam), class: 'btn btn-danger btn-danger-outline' %>
      <% else %>
        <%= link_to 'Done', '#', class: 'btn btn-success' %>
      <% end %>
    </p>
    </div>

    <div class="col-md-6">
    <% @exam.questionpaperspecs.each do |question| %>
		    <div class="card card-default">
		      <div class="card-header"><%= "Question" %></div>
		      <div class="card-block">
		      	<p>
		      		<%= question.tag %>
		      	</p>
		      	<p>
		      		<strong>
		      			Marks:
		      		</strong>
		      		<%= question.marks %>
		      	</p>
		      	<p>
		      		<strong>
		      			Alloted Pages:
		      		</strong>
		      		<%= question.page %>
		      	</p>
            <p>
              <strong>
              Grader:
            </strong>
            <%= question.teacher.email %>
            </p>
		      </div>
		    </div>
		<% end %>
  </div>
</div>

<%= link_to 'Edit', edit_course_exam_path(@course, @exam) %> |
<%= link_to 'Back', course_exams_path(@course) %>
