<nav class="navbar navbar-light navbar-fixed bg-faded">
  <a class="navbar-brand" href="<%= root_path %>">Grader</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <% if current_teacher %>
      <li class="nav-item">
        <%= link_to 'Courses', courses_path, class: "nav-link" %>
      </li>
    <% end %>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
  <form class="form-inline pull-xs-right">
    <div class="btn-group">
      <% if current_teacher %>
        <%= link_to 'Sign Out!', destroy_teacher_session_path, method: :delete, class: "btn btn-danger-outline" %>
      <% elsif current_student %>
        <%= link_to 'Sign Out!', destroy_student_session_path, method: :delete, class: "btn btn-danger-outline" %>
      <% else %>
        <%= link_to 'Login As', '#', class: "btn" %>
        <%= link_to 'Teacher', new_teacher_session_path, class: "btn btn-success-outline" %>
        <%= link_to 'Student', new_student_session_path, class: "btn btn-success-outline" %>
      <% end %>
    </div>
    <!-- <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-success-outline" type="submit">Search</button> -->
  </form>
</nav>
