<!DOCTYPE html>
<html>
<head>
  <title>Grader</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/header' %>
</head>
<body>
<div class="container" style="padding-top: 30px;">
  <% if notice %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <%= yield %>
</div>
</body>
<% console %>
</html>
